In [1]:
import pandas as pd

In [2]:
pwd

'/home/siegman/Documents/Shahar/BarIlan/Dissertation3/code/notebooks/filtering'

In [4]:
df =pd.read_spss('/home/siegman/Documents/Shahar/BarIlan/Dissertation3/data/integrated27.11.19_1.sav')

In [6]:
df.head().T

,0,1,2,3,4
ID,101,102,103,104,105
Q4F,1001,1001,1001,1002,1002
StartDateF,2018-03-15 12:34:53,2018-03-15 12:34:47,2018-03-15 12:34:54,2018-03-15 14:11:12,2018-03-15 14:15:07
EndDateF,2018-03-15 12:38:52,2018-03-15 12:38:26,2018-03-15 12:38:49,2018-03-15 14:16:16,2018-03-15 14:17:22
Duration__in_seconds_F,238,219,235,304,135
...,...,...,...,...,...
PANAS_negative_third_relational_mean,1,1,1,NaN,NaN
RMSSD_I_mean_mean,37.9689,37.9689,37.9689,NaN,NaN
RMSSD_BL_mean,35.2763,35.2763,35.2763,NaN,NaN
condition_sd,0,0,0,NaN,NaN
cohesion_mega,5,5.33333,5,4.33333,5

In [7]:
for col in df.columns:
    print(col)

ID
Q4F
StartDateF
EndDateF
Duration__in_seconds_F
RecordedDateF
Q6F
Q9h
Q8h
included
Q10h
Q12h
Q14h
Q16h
Q18h
Q20h
Q22h
condition
Q8F
Q10F
Q12F
Q14F
Q16F
Q18F
Q20F
Q22.0F
Q24F
Q26F
Q28F
Q30F
Q32F
Q34F
Q3_1F
Q3_2F
Q3_3F
Q3_4F
Q3_5F
Q3_6F
Q3_7F
Q3_8F
Q3_9F
Q3_10F
Q3_11F
Q3_12F
Q3_13F
Q3_14F
Q3_15F
Q3_16F
Q3_17F
Q3_18F
Q3_19F
Q3_20F
Q21F
Q19_1F
Q19_2F
VAR00002
StartDate
EndDate
IPAddress
Duration__in_seconds_
Q3
Q5_1
Q5_2
Q5_3
Q5_4
Q5_5
Q5_6
Q5_7
Q5_8
Q5_9
Q5_10
Q5_11
Q5_12
Q5_13
Q5_14
Q5_15
Q5_16
Q5_17
Q5_18
Q5_19
Q5_20
Q6_1
Q6_2
Q6_3
Q6_4
Q6_5
Q6_6
Q7_1
Q7_2
Q7_3
Q7_4
Q9_1
Q9_2
Q9_3
Q9_4
Q9_5
Q9_6
Q9_7
Q9_8
Q9_9
Q11
Q13_1
Q13_2
Q13_3
Q13_4
Q17_1
Q17_2
Q17_3
Q17_4
Q17_5
Q17_6
Q17_7
Q19_1
Q19_2
Q19_3
Q19_4
Q19_5
Q19_6
Q19_7
Q19_8
Q19_9
Q19_10
Q21_1
Q21_2
Q21_3
Q23_1
Q23_2
Q23_3
Q23_4
Q23_5
Q6_3r
Q19_2r
Q19_6r
Q19_7r
Q19_9r
StartDatet
tt
Duration__in_seconds_t
Q3t
Q7_1t
Q7_2t
Q7_3t
Q7_4t
Q7_5t
Q7_6t
Q7_7t
Q7_8t
Q7_9t
Q7_10t
Q7_11t
Q7_12t
Q7_13t
Q7_14t
Q7_15t
Q7_16t
Q7_17t
Q7_18t
Q7_19t
Q7_20t
Q6_1t
Q6_2t
Q6_3t
Q6_4t
Q6_5t
Q6_6t
Q8_1t
Q8_2t
Q8_3t
Q8_4t
StartDateh
EndDateh
IPAddressh
Duration__in_seconds_h
RecordedDateh
Q6_1h
Q6_2h
Q6_3rh
Q6_4rh
Q6_5h
Q6_6h
Q6_7rh
Q6_8h
Q6_9h
Q6_10h
Q6_11h
Q6_12rh
Q6_13rh
Q6_14rh
Q6_15rh
Q6_16h
Q6_17h
Q6_18rh
Q6_19rh
Q6_20h
Q6_21h
Q6_22h
Q6_23h
Q6_24h
Q6_25h
Q6_26h
Q6_27h
Q6_28h
Q5_1h
Q5_2h
Q5_3h
Q5_4h
Q5_5h
Q5_6h
Q5_7h
Q5_8h
Q5_9h
Q5_10h
Q5_11h
Q5_12h
Q5_13h
Q5_14h
Q5_15h
Q5_16h
Q5_17h
Q7_1h
Q7_2h
Q7_3h
Q7_4h
Q7_5h
Q7_6h
Q7_7h
Q7_8h
Q7_9h
Q7_10h
Q7_11h
Q7_12h
Q7_13h
Q7_14h
Q7_15h
Q5
VAR00007
Q22.0h
Q25h
Q26h
Q19h
Q20.0h
Q21_1h
Q21_2h
Q21_3h
HRV_max_corr_ccf_BL1
HRV_max_corr_ccf_BL2
HRV_max_corr_ccf_BL3
HRV_max_corr_ccf_I_1
HRV_max_corr_ccf_I_2
HRV_max_corr_ccf_I_3
HRV_max_corr_ccf_BLE_1
HRV_max_corr_ccf_BLE_2
HRV_max_corr_ccf_BLE_3
HRV_max_corr_ccf_FS_1
HRV_max_corr_ccf_FS_2
HRV_max_corr_ccf_FS_3
EDA_max_corr_ccf_BL1
EDA_max_corr_ccf_BL2
EDA_max_corr_ccf_BL3
EDA_max_corr_ccf_I_1
EDA_max_corr_ccf_I_2
EDA_max_corr_ccf_I_3
EDA_max_corr_ccf_BLE_1
EDA_max_corr_ccf_BLE_2
EDA_max_corr_ccf_BLE_3
EDA_max_corr_ccf_FS_1
EDA_max_corr_ccf_FS_2
EDA_max_corr_ccf_FS_3
TotalSCRs_FS
ERSCRs_FS
NSSCRs_FS
TotalSCRs_I
ERSCRs_I
NSSCRs_I
TotalSCRs_BL
ERSCRs_BL
NSSCRs_BL
TotalSCRs_BLE
ERSCRs_BLE
NSSCRs_BLE
group_HRV_max_corr_ccf_I
group_HRV_max_corr_ccf_BL
group_HRV_max_corr_ccf_BLE
group_HRV_max_corr_ccf_FS
Participant#
@#ofRsFound_BL
RespirationRate_BL
RespirationAmplitude_BL
RespirationPeakFrequency_BL
RespirationPower_BL
FirstECGRTime_BL
SDNN_BL
AVNN_BL
NN50_BL
pNN50_BL
@#ofRsFound_FS
RespirationRate_FS
RespirationAmplitude_FS
RespirationPeakFrequency_FS
RespirationPower_FS
FirstECGRTime_FS
SDNN_FS
AVNN_FS
NN50_FS
pNN50_FS
@#ofRsFound_I
RespirationRate_I
RespirationAmplitude_I
RespirationPeakFrequency_I
RespirationPower_I
FirstECGRTime_I
SDNN_I
AVNN_I
NN50_I
pNN50_I
VAR00008
@#ofRsFound_BLE
RespirationRate_BLE
RespirationAmplitude_BLE
RespirationPeakFrequency_BLE
RespirationPower_BLE
FirstECGRTime_BLE
SDNN_BLE
AVNN_BLE
NN50_BLE
pNN50_BLE
VAR00009
group_EDA_max_corr_ccf_BLE
group_EDA_max_corr_ccf_FS
group_EDA_max_corr_ccf_BL
group_EDA_max_corr_ccf_I
PANAS_positive_first_relational
PANAS_positive_second_relational
PANAS_positive_third_relational
PANAS_negative_first_relational
PANAS_negative_second_relational
PANAS_negative_third_relational
conv_positive
Zconv_positive
filter_$
conv_negative
conv_positive_mean
conv_negative_mean
grand_familiar
grand_sync
min_corr_HRV_BL
min_corr_HRV_I
min_corr_HRV_BLE
min_corr_HRV_FS
max_corr_HRV_BL
max_corr_HRV_I
max_corr_HRV_BLE
max_corr_HRV_FS
min_corr_EDA_BL
min_corr_EDA_I
min_corr_EDA_BLE
min_corr_EDA_FS
max_corr_EDA_BL
max_corr_EDA_I
max_corr_EDA_BLE
max_corr_EDA_FS
group_HRV_BP_max_corr_I
group_EDA_BP_max_corr_I
group_HRV_BP_max_corr_I_mean
group_EDA_BP_max_corr_I_mean
VAR00017
mean_HRV_seg_I
mean_LVET_seg_I
mean_PEP_seg_I
mean_DZ_DT_seg_I
mean_RSA_seg_I
mean_RMSSD_seg_I
mean_SCL_seg_I
mean_TP_seg_I
VAR00010
hit_together
close_velocity
hit_together_FS
close_velocity_FS
VAR00015
C_musical_knowledge
C_EC
C_familiar
C_SC_I
C_HR_I
C_RSA_I
C_RMSSD_I
C_PEP_I
C_sync_check3
C_sync_check
C_dZ_dt_I
VAR00014
MeanSC_I_mean
MeanHeartRate_I_mean
RSA_I_mean
RMSSD_I_mean
PEP_I_mean
dZ_dt_Max_I_mean
sync_check_mean
sync_check_t3_mean
PANAS_positive_second_mean
PANAS_negative_second_mean
PANAS_positive_first_mean
PANAS_negative_first_mean
EC_mean
IRI_mean
IRI_FS_mean
IRI_PD_mean
IRI_PT_mean
IRI_EC_mean
social_anxiety_mean
familiar_mean
musical_knowledge_mean
PANAS_positive_third_mean
PANAS_negative_third_mean
sync_check_t3_mean_1
VAR00011
IRI
IRI_FS
IRI_PD
IRI_PT
IRI_EC
social_anxiety
EC
Q5t
musical_knowledge
VAR00003
PANAS_positive_first
PANAS_negative_first
familiar
VAR00001
PANAS_positive_second
PANAS_negative_second
sync_check
trust
group_efficacy
cohesion
similarity
group_identification
rapport
group_vars
VAR00004
PANAS_positive_third
PANAS_negative_third
sync_check_t3
group_efficacy_FS
difficult_t3
VAR00012
group_EDA_ccf_I_oneV
group_HRV_ccf_I_oneV
group_HRV_ccf_I_oneV_BP
max_corr_HRV_I_mean
min_corr_EDA_I_mean
group_EDA_ccf_BL_oneV_mean
group_EDA_ccf_I_oneV_mean
group_EDA_ccf_FS_oneV_mean
group_EDA_ccf_BLE_oneV_mean
group_HRV_ccf_BL_oneV_mean
group_HRV_ccf_I_oneV_mean
group_HRV_ccf_BLE_oneV_mean
group_HRV_ccf_FS_oneV_mean
VAR00013
TonicSCL_FS
MeanSC_FS
TonicPeriod_FS
TonicSCL_I
MeanSC_I
TonicPeriod_I
TonicSCL_BLE
MeanSC_BLE
TonicPeriod_BLE
TonicSCL_BL
MeanSC_BL
TonicPeriod_BL
MeanHeartRate_BLE
RSA_BLE
MeanIBI_BLE
RMSSD_BLE
MeanHeartRate_FS
RSA_FS
MeanIBI_FS
RMSSD_FS
MeanHeartRate_BL
RSA_BL
MeanIBI_BL
RMSSD_BL
MeanHeartRate_I
RSA_I
MeanIBI_I
RMSSD_I
LVET_BL
SV_BL
CO_BL
Z0_BL
PEP_BL
dZ_dt_Max_BL
LVET_I
SV_I
CO_I
Z0_I
PEP_I
dZ_dt_Max_I
LVET_BLE
SV_BLE
CO_BLE
Z0_BLE
PEP_BLE
dZ_dt_Max_BLE
LVET_FS
SV_FS
CO_FS
Z0_FS
PEP_FS
dZ_dt_Max_FS
rel_tonic
tp_rel_2cat
group_HRV_ccf_I_oneV_BP_mean
group_HRV_ccf_I_oneV_new_BP
group_HRV_ccf_I_oneV_new_BP_mean
PANAS_positive_first_relational_mean
PANAS_positive_second_relational_mean
PANAS_positive_third_relational_mean
PANAS_negative_first_relational_mean
PANAS_negative_second_relational_mean
PANAS_negative_third_relational_mean
RMSSD_I_mean_mean
RMSSD_BL_mean
condition_sd
cohesion_mega

In [8]:
df[[col for col in df.columns if col.startswith('Q')][:10]]

,Q4F,Q6F,Q9h,Q8h,Q10h,Q12h,Q14h,Q16h,Q18h,Q20h
0,1001.0,3215,308043215.0,25.0,גבר\n,716.0,ראשון,,שנה א'\n,דתי\n
1,1001.0,0160,315630160.0,21.0,אישה\n,643.0,ראשון,,שנה א'\n,דתי\n
2,1001.0,9829,313289829.0,23.0,אישה\n,633.0,ראשון,,שנה א'\n,חילוני\n
3,1002.0,0089,207540089.0,22.0,אישה\n,660.0,ראשון,,שנה א'\n,דתי\n
4,1002.0,2637,205912637.0,23.0,אישה\n,673.0,ראשון,,שנה א'\n,חילוני\n
...,...,...,...,...,...,...,...,...,...,...
148,1050.0,3234,NaN,25.0,אישה\n,725.0,ראשון,,שנה א'\n,דתי\n
149,1050.0,8258,NaN,24.0,גבר\n,666.0,ראשון,,שנה א'\n,חילוני\n
150,1051.0,6866,208676866.0,21.0,אישה\n,618.0,ראשון,,שנה א'\n,מסורתי-לא כל כך דתי
151,1051.0,2717,204612717.0,25.0,אישה\n,639.0,ראשון,,שנה א'\n,חילוני\n
152,1051.0,3398,207543398.0,22.0,גבר\n,550.0,ראשון,,שנה א'\n,מסורתי-לא כל כך דתי

In [10]:
df[[col for col in df.columns if col.startswith('Q')][20:30]]

,Q26F,Q28F,Q30F,Q32F,Q34F,Q3_1F,Q3_2F,Q3_3F,Q3_4F,Q3_5F
0,,לא,,לא,,במידה בינונית,במידה מעטה,במידה מעטה,בכלל לא,במידה בינונית
1,,כן,גלולות למניעת הריון,כן,גלולות למניעת הריון,במידה רבה מאוד,בכלל לא,במידה מעטה,במידה מעטה,במידה מעטה
2,,לא,,לא,,במידה רבה,בכלל לא,במידה בינונית,בכלל לא,במידה בינונית
3,,לא,,לא,,במידה מעטה,במידה מעטה,במידה מעטה,במידה בינונית,במידה מעטה
4,,לא,,לא,,במידה רבה,בכלל לא,במידה מעטה,בכלל לא,בכלל לא
...,...,...,...,...,...,...,...,...,...,...
148,,כן,Hypoyhtroid,כן,Hypothyroid,במידה בינונית,בכלל לא,בכלל לא,במידה מעטה,במידה מעטה
149,,לא,,לא,,במידה בינונית,בכלל לא,במידה בינונית,בכלל לא,במידה בינונית
150,,לא,,לא,,במידה בינונית,במידה מעטה,במידה מעטה,במידה מעטה,במידה מעטה
151,,כן,פלאקוניל וציפרלקס,כן,ציפרלקס,במידה בינונית,בכלל לא,בכלל לא,בכלל לא,בכלל לא
152,,לא,,לא,,במידה בינונית,במידה מעטה,במידה מעטה,במידה בינונית,במידה מעטה

In [12]:
[(i,col) for (i,col) in enumerate(df.columns) if 'cohes' in col.lower()]

[(436, 'cohesion'), (528, 'cohesion_mega')]

In [21]:
[(i,col) for (i,col) in enumerate(df.columns) if 'cond' in col.lower()]

[(4, 'Duration__in_seconds_F'),
 (17, 'condition'),
 (59, 'Duration__in_seconds_'),
 (137, 'Duration__in_seconds_t'),
 (172, 'Duration__in_seconds_h'),
 (332, 'PANAS_positive_second_relational'),
 (335, 'PANAS_negative_second_relational'),
 (400, 'PANAS_positive_second_mean'),
 (401, 'PANAS_negative_second_mean'),
 (431, 'PANAS_positive_second'),
 (432, 'PANAS_negative_second'),
 (520, 'PANAS_positive_second_relational_mean'),
 (523, 'PANAS_negative_second_relational_mean'),
 (527, 'condition_sd')]

In [29]:
df[['ID','Q4F','cohesion','cohesion_mega','similarity','condition','trust']]#[df.ID.isin(range(181,189))]

        ID     Q4F  cohesion  cohesion_mega  similarity  condition     trust
0    101.0  1001.0  4.571429       5.000000         4.3        0.0  4.888889
1    102.0  1001.0  5.142857       5.333333         4.4        0.0  6.000000
2    103.0  1001.0  5.142857       5.000000         4.9        0.0  6.444444
3    104.0  1002.0  4.000000       4.333333         4.0        1.0  4.777778
4    105.0  1002.0  4.714286       5.000000         4.5        1.0  5.111111
..     ...     ...       ...            ...         ...        ...       ...
148  252.0  1050.0  5.000000       5.666667         3.9        1.0  4.888889
149  253.0  1050.0  3.000000       3.666667         4.1        1.0  6.444444
150  254.0  1051.0  3.857143       4.000000         3.5        0.0  4.333333
151  255.0  1051.0  3.571429       3.000000         3.5        0.0  5.666667
152  256.0  1051.0  4.714286       5.000000         4.2        0.0  6.333333

[153 rows x 7 columns]

In [ ]:
ID								similarity			NewCohesion
101								4.3			4.25
102								4.4			5
103								4.9			5.25
104								4			3.75
105								4.5			4.5
106								4.8			4
107								3.3			2.75
108								2.3			4
109								3.3			1.5
110								3.7			3.5
111								3.6			2.75
112								4.2			3.75

In [28]:
df.groupby('Q4F')['ID'].count()

Q4F
1001.0    3
1002.0    3
1003.0    3
1004.0    3
1005.0    3
1006.0    3
1007.0    3
1008.0    3
1009.0    3
1010.0    3
1011.0    3
1012.0    3
1013.0    3
1014.0    3
1015.0    3
1016.0    3
1017.0    3
1018.0    3
1019.0    3
1020.0    3
1021.0    3
1022.0    3
1023.0    3
1024.0    3
1025.0    3
1026.0    3
1027.0    3
1028.0    3
1029.0    3
1030.0    3
1031.0    3
1032.0    3
1033.0    3
1034.0    3
1035.0    3
1036.0    3
1037.0    3
1038.0    3
1039.0    3
1040.0    3
1041.0    3
1042.0    3
1043.0    3
1044.0    3
1045.0    3
1046.0    3
1047.0    3
1048.0    3
1049.0    3
1050.0    3
1051.0    3
Name: ID, dtype: int64